* {
    margin: 0;
    padding: 0;
}

.text-container {
    margin: 2rem auto;
    max-width: 40rem;
}

.section__header {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    margin: 0 auto;
}

.header__text {
    padding: 2rem;
    width: 50rem;
}

.header__image {
    background-image: url("XXX.jpg");
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    width: 100%;
}